:root {
  font-family: "Philosopher", sans-serif;
  font-family: "Public Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.category-aktif {
  background-color: green;
  color: white;
}

.btn-success {
  background-color: #22668A;
}