:root {
  font-family: "Philosopher", sans-serif;
  font-family: "Public Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.category-aktif {
  background-color: green;
  color: white;
}

.btn-success {
  background-color: #22668A;
}

.group, .card-menus {
  cursor: pointer;
}


.group, .card-menus :hover {
  background-color: aquamarine;
}

